
    <div class="perfil-container">
        <div card class="card perfil-imagem">
            <img class="img-perfil" src="img/Sterling-K-Brown.jpg" alt="Imagem do Perfil" onerror="this.src='img/profile-placeholder-f.jpg'" >
        </div>
        <div class="perfil-box">
            <div class="perfil-info">
                <ul>
                    <li><strong>E-mail</strong> ⎯ sandrosilva@email.com</li>
                    <li><strong>Idade</strong> ⎯ 48 anos</li>
                    <li><strong>Gênero</strong> ⎯ Masculino</li>
                </ul>
            </div>
            <div class="perfil-bio">
                <h3>Bio</h3>
                <p>Cozinhar sempre foi uma paixão para mim, mas o que realmente me motiva é encontrar maneiras de fazer pratos saudáveis sem gastar muito. Acredito que comer bem não precisa ser complicado nem caro, e adoro testar combinações simples que tragam sabor e nutrição ao mesmo tempo. Sempre que estou na cozinha, busco transformar ingredientes acessíveis em receitas práticas e gostosas, mostrando que uma alimentação equilibrada pode estar ao alcance de todos. Para mim, cozinhar é mais do que preparar refeições – é um jeito de cuidar da minha saúde e compartilhar bons momentos com as pessoas ao meu redor.</p>
            </div>
        </div>
    </div>