<footer class="footer-main">
    <h3>Nos Conheça Melhor</h3>
    <div class="footer-content">
        <div>
            <h4>Sobre Nós</h4>
            <p>Nosso objetivo é proporcionar a você receitas saudáveis, práticas e acessíveis, com foco em promover uma alimentação equilibrada e de fácil acesso.</p>
        </div>
        <div>
            <h4>Missão</h4>
            <p>Nossa missão é democratizar a alimentação saudável, oferecendo receitas acessíveis e de baixo custo, utilizando ingredientes simples e fáceis de encontrar.</p>
        </div>
        <div>
            <h4>Sustentabilidade </h4>
            <p>Além de promover a saúde, nosso compromisso é com o meio ambiente. Por isso, priorizamos o uso de alimentos locais e sazonais em nossas receitas.</p>
        </div>
        <div>
            <h4>Nosso Impacto Social </h4>
            <p>Ao fornecer receitas saudáveis e acessíveis, esperamos contribuir para uma melhoria contínua no bem-estar de comunidades e indivíduos.</p>
        </div>
        <div>
            <h4>Entre em Contato</h4>
            <p>Tem alguma dúvida, sugestão ou quer compartilhar uma receita? Entre em contato conosco e vamos conversar!</p>
        </div>
    </div>
</footer>