<form id="form-pesquisa" action="/recipes" method="GET">
    <input type="text" class="barra-pesquisa" id="input-pesquisa" name="search" placeholder="Pesquise uma receita...">
    <button type="submit" class="btn-pesquisa"><i class="bi bi-search"></i></button>
</form>