<form id="form-pesquisa" action="lista_receitas.html" method="GET">
    <input type="text" class="barra-pesquisa" id="input-pesquisa" name="pesquisa" placeholder="Pesquise uma receita...">
    <button type="submit" class="btn-pesquisa"><i class="fas fa-search"></i></button>
</form>