<header class="header-main">
    <h1 class="homepage">NutriFácil</h1>
    <% if(typeof noSearchBar === 'undefined' || !noSearchBar) { %>
        <%- include('../components/headerSearch.ejs') %>
        <%- include('../components/loginDropdown.ejs') %>
    <% } %>
</header>