<main class="">
    <%- include('../components/sidebar.ejs') %>
    <section class="main-content">
        <h2>Últimas Receitas</h2>
        <%- include('../components/listCard.ejs') %>
    </section>
</main>