<main class="">
    <%- include('sidebar', {  recipesList: mostLikedRecipes }) %>
    <section class="main-content">
        <h2>Últimas Receitas</h2>
        <%- include('listCard', { recipesList: latestRecipes }) %>
    </section>
</main>