<div class="perfil-dropdown">
    <button class="perfil-botao">
        <i class="bi bi-person-fill perfil-icone"></i>
    </button>
    <div class="perfil-dropdown-content">
        <input class="perfil-dropdown-email" type="email" name="email" placeholder="E-mail"/>
        <input class="perfil-dropdown-senha" type="password" name="senha" placeholder="Senha"/>
        <button class="perfil-dropdown-btn-login">Login</button>
        <p>Entre com</p>
        <button class="perfil-dropdown-btn"><i class="bi bi-google"></i></button>
        <button class="perfil-dropdown-btn"><i class="bi bi-facebook"></i></button>
        <p>Não tem conta?</p>
        <a class="perfil-dropdown-cadastro" href="login.html">Cadastre-se</a>
    </div>
</div>