<nav class="nav-bar">
    <ul>
        <li><a href="lista_receitas.html">Saladas</a></li>
        <li><a href="lista_receitas.html">Sobremesas</a></li>
        <li><a href="lista_receitas.html">Carnes</a></li>
        <li><a href="lista_receitas.html">Massas</a></li>
        <li><a href="lista_receitas.html">Frutos do Mar</a></li>
        <li><a href="lista_receitas.html">Bolos</a></li>
        <li><a href="lista_receitas.html">Todas as Receitas</a></li>
    </ul>
</nav>