<nav class="nav-bar">
    <ul>
        <li><a href="/recipes?category=Salada">Saladas</a></li>
        <li><a href="/recipes?category=Sobremesa">Sobremesas</a></li>
        <li><a href="/recipes?category=Carne">Carnes</a></li>
        <li><a href="/recipes?category=Massa">Massas</a></li>
        <li><a href="/recipes?category=FrutoDoMar">Frutos do Mar</a></li>
        <li><a href="/recipes?category=Bolo">Bolos</a></li>
        <li><a href="/recipes">Todas as Receitas</a></li>
    </ul>
</nav>