<nav class="perfil-nav">
    <ul>
        <li><a href="#" class="tab-link active" data-tab="receitas">Minhas Receitas</a></li>
        <li><a href="#" class="tab-link" data-tab="curtidas">Receitas Curtidas</a></li>
    </ul>
</nav>
<div id="receitas" class="tab-content active">
    <h2>Minhas Receitas</h2>
    <% recipesAdded.forEach(recipe => { %>
        <%- include('./cardItem.ejs', { recipe: recipe, showImage: true }) %>
    <% }) %>
</div>
<div id="curtidas" class="tab-content">
    <h2>Receitas Curtidas</h2>
    <% recipesLiked.forEach(recipe => { %>
        <%- include('./cardItem.ejs', { recipe: recipe, showImage: true }) %>
    <% }) %>
</div>
