<div class="receita-box">
    <div class="card card-receita">
        <img src="img/bolo-tapioca.jpg" alt="Receita">
        <div class="info-receita">
            <span class="num-curtida"><i class="fa-regular fa-heart botao-curtida"></i> 120</span>
            <span class="num-tempo"><i class="fas fa-clock"></i> 25 min</span>
        </div>
    </div>
    <%- include('./recipeInfos.ejs') %>
</div>