<div class="receita-container">
    <div class="ingredientes">
        <h3>Ingredientes</h3>
        <ul>
            <% recipe.ingredients.forEach(ingredient => { %>
                <li><%= ingredient.name %> (<%= ingredient.quantity %>)</li>
            <% }) %>
        </ul>
    </div>
    <div class="preparo">
        <h3>Modo de Preparo</h3>
        <p><%= recipe.preparation %></p>
    </div>
</div>