<aside class="side-content">
    <h2>Receitas Mais Curtidas</h2>
    <% mostLikedRecipes.forEach(recipe => { %>
        <%- include('cardItem', { recipe: recipe, showImage: false}) %>
    <% }) %>
</aside>