<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/global.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/navbar.css" />
        <link rel="stylesheet" href="/css/sidebar.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/perfilDropdown.css" />
        <link rel="stylesheet" href="/css/recipeCard.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css" />
        <link rel="stylesheet" href="/css/recipe.css" />
        <link rel="stylesheet" href="/css/recipes.css" />
        <link rel="stylesheet" href="/css/profile.css" />
        <link rel="stylesheet" href="/css/signup.css" />
        <title>NutriFácil</title>
    </head>
    <body class="cadastro-body">
        <%- include('components/header.ejs', {noSearchBar: true}) %>

        
        <%- body %>

        <!-- Script JS -->
        <script src="/js/script.js"></script>
    </body>
</html>