:root {
    --cor-pri: #79B4B0;
    --cor-pri-rgb: 121, 180, 176;
    --cor-sec: #9FC089;
    --cor-sec-rgb: 159, 192, 137;
    --cor-ter: #FB7E00;
    --cor-ter-rgb: 251, 126, 0;
    --cor-qua: #D1DFD2;
    --cor-qua-rgb: 209, 223, 210; 
    --cor-qui: #FFCC3F;
    --cor-qui-rgb: 255, 204, 63;
    --cor-ses: #FFFFFF;
    --cor-ses-rgb: 255, 255, 255;
    --facebook-blue: #3b5998;
    --google-red: #dc4e41;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
main {
    padding-bottom: 25rem;
}

/*Animacao de Curtida*/
.botao-curtida {
    cursor: pointer;
    transition: color 0.3s ease;
}

.curtida {
    color: var(--cor-ter);
    animation: pulse 0.3s ease-in-out;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}